<!DOCTYPE html>
<html>
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
  <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/material-icons.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body style="padding-right: 20px;padding-left: 20px;">
  <div class="row gg" style="margin-right: 0px;margin-left: 0px;">
    <div class="col-12 align-self-end d" style="padding-left: 0px;padding-right: 0px;"><img src="{% static 'img/92008983-d1500580-ed15-11ea-9cdd-5e46129936f9.png' %}" style="width: 20px;"></div>
    <div class="col-12 align-self-end" style="padding-left: 0px;padding-right: 0px;">
      <h1>Sign up</h1>
    </div>
    <div class="col-12 align-self-center" style="padding-right: 0px;padding-left: 0px;">
      <p>Already have an account/ <a href="{% url 'login' %}"><strong>Login</strong></a></p>
    </div>

    <div class="col-12 align-self-center">
      <form action="register" method="POST">
        {% csrf_token %}

        <div class="col-12 text-left h" style="padding-left: 0px;padding-right: 0px;">
          <input type="text" name='username' placeholder="Username" style="padding-left: 15px;">
          <input type="text" name='email' placeholder="Email" style="padding-left: 15px;">
          <input type="text" name='password1' placeholder="Password" style="padding-left: 15px;">
          <input type="text" name='password2' placeholder="Confirm Password" style="padding-left: 15px;"></div>
        <div class="col-12 align-self-start y"><button class="btn btn-primary" type="submit" style="background-color: rgb(37,37,37);font-size: 20px;">Sign Up</button></div>

      </form>
    </div>

  </div>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/disappear.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
  <script src="{% static 'js/Simple-Slider.js' %}"></script>
</body>

</html>
