<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}

<head>
  <meta charset="utf-8">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <title>Add Photo</title>
</head>

<body class="m-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Go back</a>

        <div class="card">
          <form method="POST" action="" enctype='multipart/form-data'>

            {% csrf_token %}

            <div class="form-group m-3">
              <label>Description</label>
              <input required name="description" type="text" placeholder="Enter a description" class="form-control">
            </div>

            <div class="form-group m-3">
              <label>Category</label>

              <select class="form-control" name="category">
                <option value="none">Select a Category</option>
                {% for category in categories %}
                <option value="{{category.id}}">{{category.name}}</option>
                {% endfor %}
              </select>

            </div>
            <div class="form-group m-3">
              <label>Style</label>

              <select class="form-control" name="style">
                <option value="none">Select the style</option>
                {% for style in styles %}
                <option value="{{style.id}}">{{style.name}}</option>
                {% endfor %}
              </select>

            </div>

            <div class="multi_select_box">
              <select class="selectpicker" multiple>
                <option>Causual</option>
                <option>Causual</option>
                <option>Causual</option>
                <option>Causual</option>
                <option>Causual</option>
              </select>
            </div>

            <div class="form-group m-3">
              <label>Upload image</label>
              <input required name="image" type="file" multiple class="form-control-file">
            </div>



            <button type='submit' class="btn btn-primary m-3">Submit</button>

          </form>
        </div>

      </div>
    </div>
  </div>
</body>

</html>
