<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <title>Create Outfit</title>
</head>

<body>
  <div class="oufit_name">
    <form method="POST">
      {% csrf_token %}

      <input required name="name" type="text" placeholder="Oufit_name" class="form-control">


      <div class="row">
        {% for photo in photos %}
        <div class="col-md-3">
          <div class="card my-2">
            <img src="{{photo.image.url}}" class="card-img-top">
            <div class="card-body">
              <small>Category : {{photo.category.name}}</small>
              <input type="checkbox" name="clothe" value="{{photo.id}}">

            </div>
          </div>
        </div>
        {% empty %}
        <h3>No Photos here....</h3>
        {% endfor %}
      </div>

        <button type='submit' class="btn btn-primary m-3">Submit</button>
    </form>
  </div>
</body>

</html>
