<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>single item</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/material-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="row" style="margin-right: 0px;margin-left: 0px;padding-left: 15px;padding-right: 15px;">
        <div class="col-6 align-self-center"><button class="btn text-dark border-dark" type="button"><a href="#" style="color: rgb(0,0,0);"><i class="icon ion-android-arrow-back"></i></a></button></div>
        <div class="col-6 text-right align-self-center"><button class="btn border-dark" type="button"><a href="#"><i class="la la-heart" style="color: rgb(0,0,0);"></i></a></button></div>
        <div class="col-auto col-md-6 text-left m-auto" style="background-color: #ffffff;padding-left: 0px;margin-right: 0px;padding-right: 0px;width: 100%;border-radius: 30px;margin-left: 0px;margin-bottom: 0px;height: 50%;margin-top: 0px;padding-top: 15px;">
            <div class="row justify-content-center align-items-center" style="margin-left: 0px;margin-right: 0px;height: 180px;">
                <div class="col"><img class="img-fluid" src="{{photo.image.url}}"></div>
            </div>
        </div>
        <div class="col-12 text-right"><i class="la la-edit" style="font-size: 30px;padding-right: 17px;"></i><i class="icon ion-android-delete" style="font-size: 30px;"></i></div>
        <div class="col-12">
            <p><strong>Orange T-shirt</strong></p>
        </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>
