<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
  <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/material-icons.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="row" style="margin-left: 0px;margin-right: 0px;margin-top: 20px;margin-bottom: 20px;padding-right: 15px;padding-left: 15px;">
    <div class="col-2 text-right align-self-center" style="padding-right: 10px;padding-left: 0px;"><a href="#"><img src="{% static 'images/when you see this send it to me 1@2x.png' %}" style="width: 50px;"></a></div>
    <div class="col-8 text-left align-self-center" style="padding-right: 0px;padding-left: 12px;">
      <h1>Hi, <br>David</h1>
    </div>
    <div class="col-1 text-right align-self-center">
      <div><a class="btn btn-sm" role="button" data-toggle="modal" href="#myModal" style="font-size: 40px;"><i class="icon ion-android-more-vertical"></i></a>
        <div class="modal fade" role="dialog" tabindex="-1" id="myModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
              <div class="modal-body">
                <p class="text-center text-muted"><i class="fa fa-user-o"></i>&nbsp; Profile&nbsp;&nbsp;</p>
                <p class="text-center text-muted"><i class="fa fa-heart-o"></i>&nbsp; Favorites</p>
                <p class="text-center text-muted"><i class="icon ion-log-out"></i>&nbsp; Logout&nbsp;&nbsp;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-right: 0px;margin-left: 0px;">
    <div class="col-12"><input type="text" style="padding-bottom: 0px;padding-top: 0px;margin-top: 0px;padding-left: 15px;" placeholder="Search"></div>
    <div class="col" style="margin-bottom: 18px;">
      <div class="text-right" style="padding-top: 10px;padding-right: 15px;"><a class="btn btn-sm text-left" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button"
          style="padding-right: 0px;padding-left: 0px;border-radius: 10px;background-color: rgba(255,189,19,0);padding-top: 0px;padding-bottom: 0px;">Filter</a>
        <div class="collapse" id="collapse-1">
          <div class="row" style="margin-right: 0px;margin-left: 0px;">
            <div class="col-12">
              <p class="text-left">Occassion</p>
            </div>
            {% for occassion in occassions %}
            <div class="col-3">
              <a href="{% url 'outfit_feed' %}?occassion={{occassion.name}}">
                <p>{{occassion.name}}</p>
              </a>
            </div>
            {% empty %}
            <h3>This is impossible</h3>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-right: 0px;margin-left: 0px;margin-top: 10px;margin-bottom: 10px;padding: 20px;">
    {% for outfit in outfits %}
    <div class="col-6" style="padding-right: 5px;padding-left: 15px;">
      <div class="row hh" style="margin-left: 0px;margin-right: 0px;background-color: #eaeaeb;padding-top: 8px;padding-right: 8px;padding-bottom: 8px;padding-left: 8px;">
        {% for key, value in outfit.items %}
          <div class="col-6 text-center"><img class="img-fluid" src="{{value.image.url}}"></div>
        {% endfor %}
      </div>
    </div>

    {% empty %}
    <center><h1>U are nothing</h1></center>
    {% endfor %}
  </div>


  <div class="col" style="padding-right: 0px;padding-left: 0px;">
    <nav class="nav">
      <a href="#" class="nav__link">
        <i class="material-icons nav__icon">home</i>
      </a>
      <a href="#" class="nav__link nav__link--active">
        <i class="material-icons nav__icon">grid_view</i>
      </a>
      <a href="#" class="nav__link">
        <span class="material-icons">
          door_sliding
        </span>
      </a>
    </nav>
  </div>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/disappear.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
  <script src="{% static 'js/Simple-Slider.js' %}"></script>
</body>

</html>
