<!DOCTYPE html>
<html>
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
  <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/material-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/buttom-navigation-1.css' %}">
  <link rel="stylesheet" href="{% static 'css/buttom-navigation.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body style="background-color: #ffffff;">
  <header>
    <div class="col" style="padding-top: 10px;padding-bottom: 6px;padding-left: 34px;">
      <a class="ag" href="#">
        <img src="{% static 'img/dri4.png' %}" style="width: 50px;font-family: 'Campton Book';margin-top: 20px;">
      </a>

    </div>
  </header>
  <div class="col-12 ui" style="margin-top: 74px;">
    <div class="row justify-content-center" style="margin-right: 0px;margin-left: 0px;">
      {% for occassion in occassions %}
      <div class="col-3 text-center" style="margin-right: 4px;margin-left: 4px;background-color: #eaebeb;padding-top: 15px;padding-bottom: 0px;">
          <a href="{% url 'outfit_feed' %}?occassion={{occassion.name}}"><p style="margin-bottom: 0px;">{{occassion.name}}</p></a>
      </div>
      {% empty %}
            <h1>This is not possible</h1>
      {% endfor %}

    </div>
  </div>

  <main class="hg">
    {% for outfit in outfits %}
      <div class="container" style="margin-top: 45px;margin-bottom: 50px;">

        <div class="row text-center align-items-center qw" style="margin-right: 0px;margin-left: 0px;">
          {% for key, value in outfit.items %}
          <div class="col-12" style="padding-top: 15px;padding-bottom: 15px;"><img src="{{value.image.url}}" style="width: 100px;"></div>
          {% endfor %}
        </div>


        <div class="col text-right" style="padding-right: 15px;padding-top: 10px;"><a href="{% url 'save_outfit' %}"> <img src="{% static 'img/bookmark.svg' %}" alt="" style="width: 40px;"> </a></div>

      </div>
     {% empty %}
     <h1>qweerrty</h1>
     {% endfor %}
  </main>

  {% include 'wardrobe/bottom_nav.html' %}

  <script src="{% static 'js/bs-init.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
  <script src="{% static 'js/Picker.js' %}"></script>
  <script src="{% static 'js/scroll.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
</body>

</html>
