<!DOCTYPE html>
<html>
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
  <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/material-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/buttom-navigation.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body style="background-color: #ffffff;">
  <header>
    <div class="col" style="padding-top: 10px;padding-bottom: 6px;padding-left: 34px;">
      <a class="ag" href="#">
        <img src="{% static 'img/dri4.png' %}" style="width: 50px;font-family: 'Campton Book';margin-top: 20px;">
      </a>

    </div>
  </header>
  <div class="col-12 ui" style="margin-top: 74px;">
    <div class="cunt" style="margin-right: 0px;margin-left: 0px;">
      {% for occassion in occassions %}
        <a href="{% url 'outfit_feed' %}?outfit={{outfit}}" class="tip">
          <p>{{occassion.name}}</p>
        </a>
      {% empty %}
      <h1>This is not possible</h1>
      {% endfor %}

    </div>
  </div>

  <main class="hg">
    {% for outfit in outfits %}
    <div class="container" style="margin-bottom: 50px;">
      <span class="ids" style="opacity: 0;">{% for key, value in outfit.items %}{{value.id}},{% endfor %}</span>
      <div class="row text-center align-items-center qw" style="margin-right: 0px;margin-left: 0px;">
        {% for key, value in outfit.items %}
        <div class="col-12" style="padding-top: 5px;padding-bottom: 3px;"><img src="{{value.image.url}}" style="width: 100px;"></div>
        {% endfor %}

      </div>

      <div class="col-3" style="left: 79%;padding-top: 0px;">
        <button type="button" style="opacity: 100;" class="btn" id="{{ forloop.counter0 }}" name="button">
          <img src="{% static 'img/bb.svg' %}" alt="" style="width: 25px;">
        </button>
      </div>

    </div>
    {% empty %}
    <h1>qweerrty</h1>
    {% endfor %}


  </main>

  {% include 'wardrobe/bottom_nav.html' %}

  <script type="text/javascript">
    let beat = document.getElementsByClassName("btn");




    //loop through array with forEach function
    for (var i = 0; i < beat.length; i++) {

      btn = beat[i];
      btn.addEventListener("click", function() {
        let dex = this.id;
        let index = parseInt(dex)
        let tip = document.getElementsByClassName('ids');
        let toe = [].map.call(tip, tip => tip.innerText)
        let test = toe[index];

        $.ajax({
          url: "{% url 'outfit_feed' %}",
          type: 'GET',
          data: {
            'test': test
          },

          success: function(data) {
            window.location.replace("{% url 'gallery' %}");
          },
          error: function(response) {
            // alert the error if any error occured
            alert('Something went wrong');
          }


        })


      }, false);

    }

  </script>

  <script src="{% static 'js/bs-init.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
  <script src="{% static 'js/Picker.js' %}"></script>
  <script src="{% static 'js/scroll.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
</body>

</html>
