{% load static %}
<div>
  <a class="btn btn-lg" role="button" data-toggle="modal" href="#myModal">
    <i class="icon-settings" style="font-size: 30px;"></i>
  </a>
  <div class="modal fade" role="dialog" tabindex="-1" id="myModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <a href="#">
            <p class="lead text-left text-muted"><i class="la la-user" style="margin-right: 15px;"></i>Account</p>
          </a>
          <a href="#">
            <p class="lead text-left text-muted"><i class="la la-info-circle" style="margin-right: 15px;"></i>Description </p>
          </a>
          <a href="#">
            <p class="lead text-left text-muted"><i class="icon-logout" style="margin-right: 15px;"></i>Log out</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
