<!DOCTYPE html>
<html>
{% load pwa %}
{% load static %}

<head>
  {% progressive_web_app_meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
  <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/material-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/buttom-navigation-1.css' %}">
  <link rel="stylesheet" href="{% static 'css/buttom-navigation.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

  <style media="screen">
    body{ overflow-x: hidden;}
  </style>

  <div class="row" style="margin-left: 0px;margin-right: 0px;padding-right: 15px;padding-left: 15px;margin-top: 20px;">
    <div class="col-3 text-center align-self-center" style="padding-left: 0px;padding-right: 0px;"><i class="far fa-user-circle" style="font-size: 60px;"></i></div>
    <div class="col-5 text-left align-self-center" style="padding-left: 0px;">
      <p class="text-left" style="margin-bottom: 0px;"><strong>{{user.username}}</strong><br>biography</p>
    </div>


    {% include 'wardrobe/side_bar.html' %}
  </div>


  <div class="row">
    <div class="col" style="padding-right: 0px;padding-left: 0px;">
      <div>
        <ul class="nav nav-tabs" style="margin-top: 20px;padding-bottom: 16px;">
          <li class="nav-item"><a class="nav-link active text-center" role="tab" data-toggle="tab" href="#tab-1">Item</a></li>
          <li class="nav-item" style="margin-bottom: 0px;"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2" style="color: #F19A3E;">Outfits</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" role="tabpanel" id="tab-1">
            <div class="row" style="margin-right: 0px;margin-left: 0px;padding-top: 10px;padding-bottom: 3px;">
              {% for photo in photos %}
              <div class="col-4" style="padding-right: 3px;padding-left: 3px;">
                <a href="{% url 'photo' photo.id %}"><img src="{{photo.image.url}}" id="photo"></a>
              </div>
              {% empty %}
              <center>
                <h3>Jesus Christ</h3>
              </center>
              {% endfor %}
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  {% include 'wardrobe/bottom_nav.html' %}

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/disappear.js' %}"></script>
  <script src="{% static 'js/test.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
  <script src="{% static 'js/Simple-Slider.js' %}"></script>
</body>

</html>
