.row {
  height: 100vh;
}

body {
  background-color: #ebeaef;
}

.btn.text-dark.border.rounded.border-dark {
  border-radius: 20px;
}

.btn.text-dark.border-dark {
  border-radius: 10px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  border-radius: 10px;
}

