.col-6 {
  border-radius: 10px;
}

200;300;400;500;600;700;800;900&display=swap'); * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1D212B;
}

.img-slider {
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 10px;
  background: #1D212B;
  border-radius: 15px;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .slide .info {
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #2696E9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.box {
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.box > i {
  font-size: 20px;
  color: #777;
}

.box > input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
  width: 100%;
}

body {
  margin: 0 0 55px 0;
}

.nav1 {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  display: flex;
  overflow-x: auto;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
  background-color: #eeeeee;
}

.nav__link--active {
  color: #F19A3E;
}

.nav__icon {
  font-size: 18px;
}

button, input {
  height: 55px;
  outline: none;
  width: 100%;
  background-color: #eaeaeb;
  margin-top: 20px;
  border: none;
  border-radius: 15px;
}

.row.gg {
  height: 100vh;
}

.row.yy {
  height: 100vh;
}

.row.hh {
  border-radius: 10px;
}

.row.aa {
  height: 90vh;
}

.col-12.text-center {
  border-radius: 20px;
}

.col-12.hh {
  height: 80vh;
}

.products.productOne div label input [type="checkbox"] {
  display: none;
}

.products.productTwo div label input [type="checkbox"] {
  display: none;
}

.nav-tabs {
  border-bottom: 0px;
  justify-content: space-evenly;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: #fff;
}

.horizontal_slider {
  display: block;
  width: 100%;
  overflow-x: scroll;
  padding-top: 20px;
}

.slider_container {
  display: block;
  white-space: nowrap;
}

.item {
  display: inline-block;
  margin-right: 10px;
}

.item img {
  width: 150px;
  padding: 10px;
  object-fit: cover;
}

.horizontal_slider::webkit-scrollbar {
  display: none;
}

.horizontal_slider {
  -ms-overflow-style: none;
}

a {
  color: #495057;
  text-decoration: none;
  background-color: transparent;
}

.or {
  display: flex;
}

.or img {
  width: 100%;
  padding: 1px;
}

#p1 {
  height: 15px;
  margin-top: 0px;
}

#p2 {
  height: 15px;
  margin-top: 0px;
}

#p3 {
  height: 15px;
  margin-top: 0px;
}

.img-fluid {
  width: 100%;
}

.row img {
  width: 100%;
}

